<div>
    <%= flash[:notice] %>
    <h2>Admin Menu</h2>
    
    <h2>Committees</h2>
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Image</th>
            <th></th>
        </tr>
        <% @committees.each do |committee| %>
        <tr>
            <td><%= committee.id %></td>
            <td><%= committee.name %></td>
            <td style="text-align:center"><%= image_tag(committee.image, :class => "thumb_size") %></td>
            <td>
                <%= link_to("Show", committee_path(committee.id), :class => "btn btn-primary btn-xs") %>
                <%= link_to("Edit", edit_committee_path(committee.id), :class => "btn btn-primary btn-xs") %>
                <%= link_to("Delete", delete_committee_path(committee.id), :class => "btn btn-danger btn-xs") %>
            </td>
        </tr>
        
        <%end%>
    </table>
    
    <table class="tableCenter">
        <tr>
            <td>
                <%= link_to("Manage Committees", committees_path) %>    
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Divisions", divisions_path) %>    
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Events", events_path) %>    
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Positions", positions_path) %>  
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Sponsors", sponsors_path) %>  
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Members", members_path) %>   
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Parameters", parameters_path) %>   
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Logout", access_logout_path) %>   
            </td>
        </tr>
    </table>

</div>